@import url(https://fonts.googleapis.com/css?family=Lato:700);
/* Color Pallette
--imperial-red: #e63946;
--honeydew: #f1faee;
--powder-blue: #a8dadc;
--celadon-blue: #457b9d;
--prussian-blue: #1d3557; 
*/

#nfl {
  font-family: 'Lato', sans-serif;
  background-color: #1D3557;
}

.jumbotron {
  background-color: #457b9d;
  margin-bottom: 10px;
}

.icon {
  width: 10vw;
  margin-right: 20px;
}

.main-container {
  background-color: white;
  max-width: 1110px;
}